.home {
  color: #333;
  margin: var(--margin-none) 20%;
}

.headingcontainer {
  text-align: center;
}

.heading {
  font-size: var(--font-size-xlarge);
  font-weight: bold;
  margin-bottom: var(--margin-medium);
}

.post {
  position: relative;
  height: 50px;
  margin-top: var(--margin-medium);
  padding-bottom: var(--padding-mini);
  border-bottom: var(--border-bottom);
}

.title {
  position: absolute;
  font-weight: 700;
  font-size: var(--font-size-xlarge);
  bottom: var(--padding-mini);
}

.date {
  position: absolute;
  right: 0;
  bottom: var(--padding-mini);
  font-size: var(--font-size-medium);
}

@media screen and (max-width: 768px) {
  .home {
    margin: var(--margin-none);
  }

  .title {
    font-size: var(--font-size-large);
  }

  .date {
    font-size: var(--font-size-small);
  }
}
