.home {
  color: #333;
  margin: var(--margin-none) 20%;
}

.headingcontainer {
  text-align: center;
}

.heading {
  font-size: var(--font-size-xlarge);
  font-weight: bold;
  margin-bottom: var(--margin-medium);
}

.post {
  margin-top: var(--margin-medium);
  padding-bottom: var(--padding-mini);
  border-bottom: var(--border-bottom);
}

.title {
  font-weight: 700;
  font-size: var(--font-size-xlarge);
  color: var(--color-black);
}

.title:hover {
  color: var(--color-primary-main);
}

.date {
  font-size: var(--font-size-medium);
  margin: var(--margin-mini) var(--margin-none);
}

.description {
  font-size: var(--font-size-medium);
  margin: var(--margin-small) var(--margin-none);
}

@media screen and (max-width: 768px) {
  .home {
    margin: var(--margin-none);
  }

  .title {
    font-size: var(--font-size-large);
  }

  .date {
    font-size: var(--font-size-small);
  }
}
