.content {
  margin: var(--margin-none) 20% var(--margin-xlarge);
}

.title {
  text-align: center;
}

.date {
  text-align: right;
}

h1 {
  font-size: var(--font-size-xlarge);
}

h2 {
  font-size: var(--font-size-large);
  padding-bottom: var(--padding-mini);
  border-bottom: var(--border-bottom);
}

img {
  max-width: var(--width);
}

/* magic number ok */
pre {
  font-size: 16px;
  padding: 10px;
  overflow: auto;
  background-color: #2c2d3a;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
}
pre > code {
  font-weight: var(--font-weight-normal);
  color: var(--color-white);
  font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo",
    monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
code {
  font-weight: var(--font-weight-normal);
  color: var(--color-black);
  font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo",
    monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: var(--font-size-xlarge);
  }

  h2 {
    font-size: var(--font-size-large);
  }

  p,
  a,
  li {
    font-size: var(--font-size-medium);
  }

  code,
  pre,
  span {
    font-size: var(--font-size-small);
  }

  .language-js {
    font-size: var(--font-size-small);
  }

  .content {
    margin: var(--margin-none) 5%;
  }
}
