.content {
  margin: 0px 20% 80px;
}

.title {
  text-align: center;
}

.date {
  text-align: right;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
  padding-bottom: 2px;
  border-bottom: 1.2px solid #ccc;
}

img {
  max-width: 100%;
}

pre {
  font-size: 16px;
  padding: 10px;
  overflow: auto;
  background-color: #2c2d3a;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
}
pre > code {
  font-weight: 500;
  color: #ffffff;
  font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo",
    monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
code {
  font-weight: 500;
  color: #222222;
  font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo",
    monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p,
  a,
  li {
    font-size: 1rem;
  }

  code,
  pre,
  span {
    font-size: 0.8rem;
  }

  .language-js {
    font-size: 0.8rem;
  }

  .content {
    margin: 0px 5%;
  }
}
